PORT = 3000
ENV = "development"

DB_URL = "host=localhost user=postgres password=pgpass dbname=postgres port=5432 sslmode=disable"

# for docker compose
DB_HOST = "postgres"
DB_PORT = "5432"
DB_NAME = "postgres"
DB_USER = "postgres"
DB_PASSWORD = "postgres"

REDIS_PORT = "6379"
REDIS_HOST = "localhost"
REDIS_PASSWORD = "redis"

JWT_SECRET = "secret"

FRONTEND_URL = "http://localhost:8000"